*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(14, 134, 174),rgb(0, 81, 255),rgb(7, 37, 82));
    padding: 10px;

}
main{
    display: flex;
    background-color: rgba(255,255,255,0.2);
    padding: 70px 80px;
    flex-direction: column;
    gap:20px;
    width: 650px;
    border-radius: 5px;
}
nav{
    display: flex;
    width: 110%;
    justify-content: space-between;
    margin-bottom: 50px;
    color: rgba(205, 18, 105, 0.996);
    font-weight: normal;
    font-size: 16pt;
}

#bnts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
article{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
button{
    border: none;
    padding: 8px 15px;
    font-size: 13pt;
    color: white;
    background-color: rgb(6, 42, 85);
    width: 100%;
}

#bnts button{
    padding: 20px;
    background-color: rgb(4, 64, 112);
    border: none;
    color: white;
    font-size: 12pt;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(4, 63, 112, 0.527);
    cursor: pointer;
    transition:background-color .5s ease ;
}

#bnts button:hover,button:hover{
    background-color: rgb(5, 79, 139);
}
#sair{
    background-color: red;
}
section span{
    font-size: 15pt;
}
.div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(205, 18, 105, 0.996);
    height: 70px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15pt;
    text-overflow: ellipsis;
}
.inputs{

    height: 40px;
    padding: 0px 5px;
    font-size: 13pt;
    outline: none;
    border: none;
    color: #444;
}
.inputs::placeholder{
    color: #444;
}
.teclado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
